.btn{
    border-radius: 10px;
    background-color: aqua;
    min-width: 30%;
}

body{
    align-items: center;
    text-align: center ;
}   

#main section{
width:80%;
margin:auto;
}
.btn-option{
    width: 90%;
}